version: '3.8'

services:
  kiwix-manage:
    image: ghcr.io/kiwix/kiwix-tools:3.7.0
    container_name: kiwix-manage
    volumes:
      - ./data:/data
    entrypoint: ["/bin/sh", "-c", "rm -f /data/library.xml && \
      kiwix-manage /data/library.xml add /data/docs.python.org_en_2024-06.zim && \
      kiwix-manage /data/library.xml add /data/gutenberg_mul_all_2023-08.zim && \
      kiwix-manage /data/library.xml add /data/stackoverflow.com_en_all_2023-11.zim && \
      kiwix-manage /data/library.xml add /data/wikibooks_en_all_maxi_2021-03.zim && \
      kiwix-manage /data/library.xml add /data/wikihow_en_maxi_2023-03.zim && \
      kiwix-manage /data/library.xml add /data/wikipedia_en_all_maxi_2024-01.zim && \
      kiwix-manage /data/library.xml add /data/Wikipedia_en_computer_maxi_2024-05.zim && \
      kiwix-manage /data/library.xml add /data/wikipedia_en_computer_maxi_2024-06.zim && \
      kiwix-manage /data/library.xml add /data/wikipedia_si_all_maxi_2024-06.zim"]

  kiwix:
    image: ghcr.io/kiwix/kiwix-tools:3.7.0
    container_name: kiwix-serve
    volumes:
      - ./data:/data
    restart: unless-stopped
    entrypoint: ["/bin/sh", "-c", "while [ ! -f /data/library.xml ]; do echo 'Waiting for library.xml'; sleep 2; done && kiwix-serve --port 8080 --library /data/library.xml /data"]
    depends_on:
      - kiwix-manage

  nginx:
    restart: always
    image: nginx:latest
    container_name: nginx_kiwix
    ports:
      - "500:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
      
 diun:
    image: crazymax/diun:latest
    container_name: diun
    command: serve
    restart: always
    volumes:
      - /run/user/1007/docker.sock:/var/run/docker.sock
      - ./diun:/diun # Path to store Diun's data
    environment:
      - "TZ=Europe/Ljubljana"
      - "LOG_LEVEL=info"
      - "LOG_JSON=false"
      - "DIUN_NOTIF_MAIL_HOST=smtp.gmail.com"
      - "DIUN_NOTIF_MAIL_PORT=587"
      - "DIUN_NOTIF_MAIL_SSL=false"
      - "DIUN_NOTIF_MAIL_LOCALNAME=xxx"
      - "DIUN_NOTIF_MAIL_USERNAME=xxx@gmail.com"
      - "DIUN_NOTIF_MAIL_PASSWORD=xxx"
      - "DIUN_NOTIF_MAIL_FROM=xxx@gmail.com"
      - "DIUN_NOTIF_MAIL_TO=xxx@gmail.com"
      - "DIUN_WATCH_WORKERS=20"
      - "DIUN_WATCH_SCHEDULE=0 * 11 * * *"
      - "DIUN_WATCH_JITTER=30s"
      - "DIUN_PROVIDERS_DOCKER=true"
      - "DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT=true"
